NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
PICKUP_ORIGIN_ADDRESS=
INTERNAL_SERVICE_KEY=
DELIVERY_SERVICE_URL=
PROMO_SERVICE_URL=
NOTIFICATIONS_SERVICE_URL=
AI_LABEL_SERVICE_URL=
